/venv
/__pycache__
/models/__pycache__
/routes/__pycache__
/utils/__pycache__
/instance/korolevstvo_chudes.db
/scripts/__pycache__
/bot_data.py
instance/korolevstvo_chudes.db
/services/telegram/.env
/services/telegram/venv
/services/telegram/__pycache__

